.team{
    border-top: 3px solid #9b9b9b;
    text-align: center;
    padding: 2em;
}

.team__titulo{
    font-size: 2rem;
    border-bottom: 4px solid ;
    font-weight: 600;
    display: inline-block;
    padding-bottom: 0.5em;
    margin-top: 0;
}

.team__cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

